version: 2.1

orbs:
  node: circleci/node@4.1

jobs:
  build-and-test:  
    docker:
      - image: cimg/node:10.24.1
    steps:
      - checkout
      - run:
          name: Run install dependencies
          command: npm i 
  
      - run:
          name: Install JUnit coverage reporter
          command: yarn add --dev jest-junit
      - run:
          name: Run tests with JUnit as reporter
          command: jest --ci --runInBand --reporters=default --reporters=jest-junit
          environment:
            JEST_JUNIT_OUTPUT_DIR: ./reports/junit/
      - store_test_results:
          path: ./reports/junit/
      - store_artifacts:
          path: ./reports/junit
       
workflows:
  sample: 
    jobs:
      - build-and-test
